<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="SitecoreSharedSourceIndexThis:IndexOnlyThis" type="Sitecore.SharedSource.IndexThis.IndexOnlyThis, Sitecore.SharedSource.IndexThis"/>
      <command name="SitecoreSharedSourceIndexThis:IndexThisAndDescendants" type="Sitecore.SharedSource.IndexThis.IndexThisAndDescendants, Sitecore.SharedSource.IndexThis"/>
    </commands>
  </sitecore>
</configuration>